<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/1125b86ce56a96ad70ef889d/w/3f659073399d0d47fa6fcb82/e/f9726a7a3c2cf7e311839f49 -->
<robot name="robot_test2">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0273008 0.0708343 0.214566" rpy="0 0 0"/>
      <mass value="5.79879"/>
      <inertia ixx="0.0242431" ixy="8.73e-10" ixz="-4.746e-09" iyy="0.105771" iyz="4.13e-10" izz="0.126711"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="-0.0261243 0.0708343 0.184566" rpy="-1.9718e-08 -4.6318e-08 -1.0704e-08"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0261243 0.0708343 0.184566" rpy="-1.9718e-08 -4.6318e-08 -1.0704e-08"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link hip_link1 -->
  <link name="hip_link1">
    <inertial>
      <origin xyz="0.0021038 0 -0.0175061" rpy="0 0 0"/>
      <mass value="0.0639835"/>
      <inertia ixx="1.61035e-05" ixy="0" ixz="-8.495e-09" iyy="1.87287e-05" iyz="0" izz="1.46801e-05"/>
    </inertial>
    <!-- Part hip_link1 -->
    <visual>
      <origin xyz="0 0 -0.0175" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link1.stl"/>
      </geometry>
      <material name="hip_link1_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0175" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link thigh_link1 -->
  <link name="thigh_link1">
    <inertial>
      <origin xyz="3.949e-08 -0.0589487 -0.00986661" rpy="0 0 0"/>
      <mass value="0.0947343"/>
      <inertia ixx="0.00016658" ixy="-8.3e-11" ixz="1.38e-10" iyy="1.07109e-05" iyz="-5.19383e-06" izz="0.000165023"/>
    </inertial>
    <!-- Part thigh_link1 -->
    <visual>
      <origin xyz="0 -0 -0.0207" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link1.stl"/>
      </geometry>
      <material name="thigh_link1_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.0207" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link shin_link1 -->
  <link name="shin_link1">
    <inertial>
      <origin xyz="3.0686e-08 -0.0515234 -0.0041683" rpy="0 0 0"/>
      <mass value="0.0626216"/>
      <inertia ixx="8.71504e-05" ixy="8.4e-11" ixz="7.4e-11" iyy="4.91015e-06" iyz="1.48194e-07" izz="8.85991e-05"/>
    </inertial>
    <!-- Part shin_link1 -->
    <visual>
      <origin xyz="-0 -0 -0.0155" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link1.stl"/>
      </geometry>
      <material name="shin_link1_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0 -0.0155" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from thigh_link1 to shin_link1 -->
  <joint name="shin1" type="revolute">
    <origin xyz="0 -0.1 -0.0352" rpy="-0 -0 -0"/>
    <parent link="thigh_link1"/>
    <child link="shin_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from hip_link1 to thigh_link1 -->
  <joint name="thigh1" type="revolute">
    <origin xyz="0.0308937 0 -0.0095" rpy="-3.14159 1.5708 0"/>
    <parent link="hip_link1"/>
    <child link="thigh_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to hip_link1 -->
  <joint name="hip1" type="revolute">
    <origin xyz="0.0733757 0.172834 0.214566" rpy="-1.5708 1.9718e-08 1.5708"/>
    <parent link="base_link"/>
    <child link="hip_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link hip_link3 -->
  <link name="hip_link3">
    <inertial>
      <origin xyz="0.0021038 -0 -0.0175145" rpy="0 0 0"/>
      <mass value="0.0639835"/>
      <inertia ixx="1.61035e-05" ixy="0" ixz="5.714e-09" iyy="1.87287e-05" iyz="0" izz="1.46801e-05"/>
    </inertial>
    <!-- Part hip_link3 -->
    <visual>
      <origin xyz="0 -0 -0.0175" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link3.stl"/>
      </geometry>
      <material name="hip_link3_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.0175" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link3.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link thigh_link1_2 -->
  <link name="thigh_link1_2">
    <inertial>
      <origin xyz="3.949e-08 -0.0589487 -0.00986661" rpy="0 0 0"/>
      <mass value="0.0947343"/>
      <inertia ixx="0.00016658" ixy="-8.3e-11" ixz="1.38e-10" iyy="1.07109e-05" iyz="-5.19383e-06" izz="0.000165023"/>
    </inertial>
    <!-- Part thigh_link1_2 -->
    <visual>
      <origin xyz="0 0 -0.0207" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link1.stl"/>
      </geometry>
      <material name="thigh_link1_2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0207" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link shin_link1_2 -->
  <link name="shin_link1_2">
    <inertial>
      <origin xyz="3.0686e-08 -0.0515234 -0.0041683" rpy="0 0 0"/>
      <mass value="0.0626216"/>
      <inertia ixx="8.71504e-05" ixy="8.4e-11" ixz="7.4e-11" iyy="4.91015e-06" iyz="1.48194e-07" izz="8.85991e-05"/>
    </inertial>
    <!-- Part shin_link1_2 -->
    <visual>
      <origin xyz="0 0 -0.0155" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link1.stl"/>
      </geometry>
      <material name="shin_link1_2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0155" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from thigh_link1_2 to shin_link1_2 -->
  <joint name="shin2" type="revolute">
    <origin xyz="0 -0.1 -0.0352" rpy="0 -0 0"/>
    <parent link="thigh_link1_2"/>
    <child link="shin_link1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from hip_link3 to thigh_link1_2 -->
  <joint name="thigh2" type="revolute">
    <origin xyz="0.0308937 -0 -0.0255" rpy="-0 -1.5708 0"/>
    <parent link="hip_link3"/>
    <child link="thigh_link1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to hip_link3 -->
  <joint name="hip2" type="revolute">
    <origin xyz="-0.125624 0.172834 0.214566" rpy="1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="hip_link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link hip_link4 -->
  <link name="hip_link4">
    <inertial>
      <origin xyz="-0.0021038 -0 -0.0175061" rpy="0 0 0"/>
      <mass value="0.0639835"/>
      <inertia ixx="1.61035e-05" ixy="0" ixz="8.495e-09" iyy="1.87287e-05" iyz="0" izz="1.46801e-05"/>
    </inertial>
    <!-- Part hip_link4 -->
    <visual>
      <origin xyz="0 0 -0.0175" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link4.stl"/>
      </geometry>
      <material name="hip_link4_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0175" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link thigh_link2 -->
  <link name="thigh_link2">
    <inertial>
      <origin xyz="8.3993e-08 0.0589496 -0.00966659" rpy="0 0 0"/>
      <mass value="0.0947331"/>
      <inertia ixx="0.000166575" ixy="3e-11" ixz="2.1e-11" iyy="1.07108e-05" iyz="5.19338e-06" izz="0.000165019"/>
    </inertial>
    <!-- Part thigh_link2 -->
    <visual>
      <origin xyz="0 0 0.0045" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link2.stl"/>
      </geometry>
      <material name="thigh_link2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0045" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link shin_link2 -->
  <link name="shin_link2">
    <inertial>
      <origin xyz="-3.0172e-08 0.0507831 -0.00416828" rpy="0 0 0"/>
      <mass value="0.0626202"/>
      <inertia ixx="8.71464e-05" ixy="7.3e-11" ixz="-7.9e-11" iyy="4.91014e-06" iyz="-1.48163e-07" izz="8.85951e-05"/>
    </inertial>
    <!-- Part shin_link2 -->
    <visual>
      <origin xyz="0 -0.000738415 0.0045" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link2.stl"/>
      </geometry>
      <material name="shin_link2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.000738415 0.0045" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from thigh_link2 to shin_link2 -->
  <joint name="shin3" type="revolute">
    <origin xyz="0 0.1 -0.035" rpy="0 0 -0"/>
    <parent link="thigh_link2"/>
    <child link="shin_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from hip_link4 to thigh_link2 -->
  <joint name="thigh3" type="revolute">
    <origin xyz="-0.0308937 -0 -0.0095" rpy="3.14159 -1.5708 0"/>
    <parent link="hip_link4"/>
    <child link="thigh_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to hip_link4 -->
  <joint name="hip3" type="revolute">
    <origin xyz="-0.125624 -0.0311657 0.214566" rpy="1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="hip_link4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link hip_link2 -->
  <link name="hip_link2">
    <inertial>
      <origin xyz="-0.0021038 0 -0.0175145" rpy="0 0 0"/>
      <mass value="0.0639835"/>
      <inertia ixx="1.61035e-05" ixy="-0" ixz="-5.714e-09" iyy="1.87287e-05" iyz="0" izz="1.46801e-05"/>
    </inertial>
    <!-- Part hip_link2 -->
    <visual>
      <origin xyz="0 0 -0.0175" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link2.stl"/>
      </geometry>
      <material name="hip_link2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0175" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/hip_link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link thigh_link2_2 -->
  <link name="thigh_link2_2">
    <inertial>
      <origin xyz="8.3993e-08 0.0589496 -0.00966659" rpy="0 0 0"/>
      <mass value="0.0947331"/>
      <inertia ixx="0.000166575" ixy="3e-11" ixz="2.1e-11" iyy="1.07108e-05" iyz="5.19338e-06" izz="0.000165019"/>
    </inertial>
    <!-- Part thigh_link2_2 -->
    <visual>
      <origin xyz="0 0 0.0045" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link2.stl"/>
      </geometry>
      <material name="thigh_link2_2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0045" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/thigh_link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link shin_link2_2 -->
  <link name="shin_link2_2">
    <inertial>
      <origin xyz="-3.0172e-08 0.0507831 -0.00416828" rpy="0 0 0"/>
      <mass value="0.0626202"/>
      <inertia ixx="8.71464e-05" ixy="7.3e-11" ixz="-7.9e-11" iyy="4.91014e-06" iyz="-1.48163e-07" izz="8.85951e-05"/>
    </inertial>
    <!-- Part shin_link2_2 -->
    <visual>
      <origin xyz="0 -0.000738415 0.0045" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link2.stl"/>
      </geometry>
      <material name="shin_link2_2_material">
        <color rgba="0.4 0.388235 0.34902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.000738415 0.0045" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="file:///home/pato/program_ws/src/robotic_dog/urdf/meshes/shin_link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from thigh_link2_2 to shin_link2_2 -->
  <joint name="shin4" type="revolute">
    <origin xyz="0 0.1 -0.035" rpy="0 0 -0"/>
    <parent link="thigh_link2_2"/>
    <child link="shin_link2_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from hip_link2 to thigh_link2_2 -->
  <joint name="thigh4" type="revolute">
    <origin xyz="-0.0308937 0 -0.0255" rpy="-0 1.5708 0"/>
    <parent link="hip_link2"/>
    <child link="thigh_link2_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to hip_link2 -->
  <joint name="hip4" type="revolute">
    <origin xyz="0.0733757 -0.0311657 0.214566" rpy="-1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="hip_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>/home/pato/program_ws/src/robotic_dog/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
  <!-- Um bloco para cada joint revolute -->
    <joint name="hip1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="thigh1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shin1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="hip2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="thigh2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shin2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="hip3">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="thigh3">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shin3">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="hip4">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="thigh4">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shin4">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  <!-- Repita para TODOS os revolute: hip2, thig2, shin1, shin2, etc. -->
  </ros2_control>
</robot>
